<h1>Stors visitas</h1>
<p>Find me in app/views/trend/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th width="150">producto</th>
      <th>Visitas cliente</th>
      <!-- <th width="150">Creacion</th>
      <th width="150">Actualzacion</th> -->

    </tr>
  </thead>
  <tbody>
  	
    <tr>
			<td>@product_id</td>
			<td><%= @visitas %></td>


     <!--  <td><%#= vis.product_id %></td>
      <td><%#= vis.customer_id %></td> -->
     <!--  <td><%#= vis.created_at %></td>
      <td><%#= vis.updated_at %></td> -->
    </tr>
    <%# end %>
  </tbody>
</table>
