<h1>Stors#index</h1>
<p>Find me in app/views/stors/index.html.erb</p>

<table>
  <thead>
    <tr>
    	<th>#</th>
      <th width="150">Stor</th>

    </tr>
  </thead>
  <tbody>
  	<% @stor.each do |st| %>
    <tr>
      <td></td>
      <td><%= link_to "#{st.name}", stor_path(st) %> <br/></td>
    </tr>
    <% end %>
  </tbody>
</table>